.footer {
    width: 100%;
    padding: 6rem 0;
    background-color: #333; 
}

.footer-container {
    max-width: 100vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.left {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 60px; 
}

.contact {
    display: flex;
    margin-bottom: 0.8rem;
}

.contact h4 {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
}

.contact h4 svg {
    margin-right: 0.5rem;
}

.right {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.social {
    padding-top: 2rem;
    display: flex;
    justify-content: flex-start; 
}

.social a {
    margin-right: 1rem; 
}

p {
    font-size: 1.2rem;
    color: #fff; 
}

@media screen and (max-width: 640px) {
    .footer-container {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .left {
        margin-left: 20px; 
    }

    .social {
        justify-content: center;
        margin-top: 1rem; 
    }

    .contact h4 {
        font-size: 1rem; 
    }

    p {
        font-size: 1rem; 
        margin-bottom: 1rem; 
    }
}
