.about {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    background-image: url('../assets/intro.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .about .left {
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
  }
  
  .about .left p {
    margin: 1.2rem 0;
  }
  
  .about .right {
    max-width: 750px;
    margin: auto;
    padding: 1rem;
  }
  
  .right .img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
  }
  
  .right .img {
    max-width: 90%;
    border: 1px solid #333;
  }
  
  .right .top {
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
  }
  
  .right .bottom {
    grid-column: 4 / -1;
    grid-row: 1;
    z-index: 5;
  }
  
  .btns .btn {
    display: flex;
    margin-bottom: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    .about {
      flex-direction: column;
    }
  
    .about .right {
      max-width: 100%;
      padding: 1rem;
    }
  
    .right .img-container {
      grid-template-columns: repeat(12, 1fr);
      padding-top: 10%;
    }
  
    .right .top {
      grid-column: 1 / span 12;
      padding-top: 0;
    }
  
    .right .bottom {
      grid-column: 1 / span 12;
      padding-top: 1rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .about .left {
      max-width: 100%;
      padding: 1rem;
    }
  
    .right .img {
      max-width: 100%;
    }
  }
  