.hero-img {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../assets/intro.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    overflow-x: hidden;
}

.hero-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Example for an overlay, adjust as needed */
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-img h1 {
    font-size: 2.4rem;
    color: #fff; /* Ensure text is visible on background */
}

.hero-img p {
    font-size: 1.4rem;
    text-align: center;
    color: #fff; /* Ensure text is visible on background */
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensure content stays in the correct place */
    z-index: 1; /* Place content above the background and overlay */
}

@media screen and (max-width: 640px) {
    .hero-img h1 {
        font-size: 2rem;
    }

    .hero-img p {
        font-size: 1.2rem;
    }

    .heading {
        padding: 1rem;
    }
}
